.lista-hambu {
  font-family: Bebas Neue;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;

}

a {
  text-decoration: none;
  color: black;
}

#content {
  width: 100%;
  margin: 0 auto;
}

#imago {
  margin-top: -100px;
  margin-right: 10px;
}

#link{
  position: relative;
  z-index: 111111;
}

#link img {
  margin-left: 80px;
  margin-top: -95px;
}

  #barrainici {
    background-color: #cb2623;
    height: 60px;
    margin-top: -39px;
    width: 100%;
  }
  #barrainici2 {
    background-color: #3c3c3b;
    height: 80px;
    margin-top: 0px;
  }

  #barrainici p {
    font-family: Bebas Neue;
    color: white;
    font-size: 40px;
    text-align: center;
    padding: 10px;
  }
  #cercar {
    text-align: center;
  }
  #cercar input {
    height: 10%;
    width: 35%;
    border-radius: 20px;
    background-color: #fff ;
    font-family: Bebas Neue;
    color: #3c3c3b;
    font-size: 40px;
  
    margin-top: 11px;
    text-align: center;

  }
  #lupa {
    margin-top: -15px;
  }
#lupa img {
  width: 50px;
  height: 50px;
  margin-left: 580px;
  margin-top: -200px;
  padding-top: -100px;
}

#mazinger {
  width: 50%;
  max-width: 50%;
  height: auto;
  margin: 6px 20px 20px 20px;
  float: left;
}

#panta {
  width: 50%;
  max-width: 50%;
  height: auto;
  margin: 6px 20px 20px 20px;
  float: left;
}
#vielha {
  width: 50%;
  max-width: 50%;
  height: auto;
  margin: 6px 20px 20px 20px;
  float: left;
}
#imatge1, #imatge2, #imatge3 {
  margin:0;
  overflow: hidden;
  margin-bottom: 10px;
}
#imatge1 h1 {
  font-family: Bebas Neue;
  font-size: 40px;
  color: #3c3c3b;
  text-align: center;
}

#text1 p {
  font-family: Helvetica;
  font-size: 18px;
  color: #3c3c3b;
  margin: 20px;
}

.valoracio  {
  width: 150px;
  height: 30px;
  margin-bottom: 50px;
}


#imatge2 h1 {
  font-family: Bebas Neue;
  font-size: 40px;
  color: #3c3c3b;
  text-align: center;
}
#text2 p {
  font-family: Helvetica;
  font-size: 18px;
  color: #3c3c3b;
  margin: 20px;
}
#imatge3 h1 {
  font-family: Bebas Neue;
  font-size: 40px;
  color: #3c3c3b;
  text-align: center;
}
#text3 p {
  font-family: Helvetica;
  font-size: 18px;
  color: #3c3c3b;
  margin: 20px;
}


#select1 {
  font-family: Bebas Neue;
  color: #3c3c3b;
  margin-top: 20px;


}
option {
  font-size: 20px;
  font-family: Bebas Neue;
}
#ordenar {
  font-size: 20px;
  font-family: Bebas Neue;
  color: #3c3c3b;
  float: left;

}
#local {
  font-size: 20px;
  font-family: Bebas Neue;
  color: #3c3c3b;

  margin-left: 100px;
}
#select2 {
  font-family: Bebas Neue;
  color: #3c3c3b;
  margin-top: 20px;
  margin-left: 20px;

}
#boto {
  height: 30px;
  width: 100px;
  background-color: #3c3c3b;
  margin-left: 900px;
  display: block;
  border-radius: 20px;
}
#boto p {
  color: white;
  text-align: center;
  font-family: Bebas Neue;
  padding: 5px;
}
#ruta1 {
  font-family: Bebas Neue;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 10px;
}
#barrainici3 {
  background-color: #3c3c3b;
  height: 60px;
  margin-top: -40px;
}

#mapa {
  margin-top: 20px;
  text-align: center;
}
#mapa1 {
  margin-top: 20px;
  margin-left: 250px;
}
#mapa2 {
  margin-top: 20px;
  margin-left: 250px;
}
b {
  font-family: Helvetica;
  font-size: 20px;
}
#info1 b {
  margin-left: 45px;
  margin-right: 5px;
}
#info2 b {
  margin-right: 5px;
}
#info3 b {
  margin-right: 5px;
}
#negreta {
  margin: 0 auto;
  text-align: center;
}
#info1 p {
  font-family: Helvetica;
  font-size: 20px;
  margin-left: 45px;
}
#info2 p {
  font-family: Helvetica;
  font-size: 20px;
}
#info3 p {
  font-family: Helvetica;
  font-size: 20px;
}
#botoruta {
  height: 50px;
  width: 300px;
  background-color: #3c3c3b;
  margin: 0 auto;
  border-radius: 20px;
}
#botoruta p {
  color: white;
  text-align: center;
  font-family: Bebas Neue;
  padding: 10px;
  font-size: 30px;
}
#botoruta2 {
  height: 30px;
  width: 100px;
  background-color: #3c3c3b;
  margin-left: 450px;
  display: block;
  border-radius: 20px;

}
#botoruta2 p {
  color: white;
  text-align: center;
  font-family: Bebas Neue;
  padding: 5px;
}
.switch{
  postion: relative;
  display:inline-block;
  width: 40px;
  height:20px;
  float: right;
  margin-top: 10px;
 }

.switch input {display:none;}

.slider{
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition:.4s;
transition: .4s;
}

.slider:before{
position: absolute;
content: "";
height: 20px;
width: 20px;
background-color: white;
-webkit-transition:.4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}
input: focus + .slider {
box-shadow: 0 02px #2196F3;
}

input:checked + .slider:before{
-webkit-transform: translatex (26px);
-ms-transform: translates(26px);
transform: translatex(26px);
}
/* Rounded sliders*/
.slider.round{
border-radius: 34px;
}
.slider.round:before{
border-radius:50%;
}

/* Hamburguesa ----------*/

#navegacio {
padding-top: 40px;
width:200px;
height: 700px;
top: 0 ;
right:0;
bottom: 0 ;
left :-270px;
border-color: #3c3c3b;
list-style: none;
position: absolute;
z-index: 1;
background-color: #3c3c3b;

}


.activador{
position: fixed;
background-color: yellow;
}

label[for="activador"]{
position:fixed;
left:15px;
z-index:600;
width:60px;
height:60px;
cursor:pointer;
background-size:100%;
background-image: url(../img/menu.png);
background-repeat: no-repeat;
}

label[fot="activador"]::after{
color; #ffffff
display:block;
width:30px;
height: 30px;
font-size: 50px;
line-height: 7px;
text-align: center;
}
.activador:checked + label {left:270px;}
.activador:checked ~ .navegacio {left: 200px;}
.activador + label {
transition: left 0.3s;
}

.tot {
position: relative;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 0;
}

.content {
width: 100%;
height: 100%;
top: 0;
right:0;
left: 0;
bottom: 0;
z-index: -3;
}
#barracotxe {
  background-color: #3c3c3b;
  height: 60px;
  margin-top: -20px;
}
#barracotxe p {
  font-family: Bebas Neue;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
.tabla {
  border: 0px;
}
.tablamarket {
  border: 0px;
}
.tabla2 {
  border: 0px;
  margin-bottom: 2%;
  height: 50px;
}
.tabla2 p {
  font-family: Helvetica;
  font-size: 20px;
  margin-left: 10px;
}

.tabla2 img {
  height: 100px;
  width: 300px;
}
.tabla3 {
  border: 0px;
  margin-bottom: 2%;
  height: 50px;
}
.tabla3 p {
  font-family: Helvetica;
  font-size: 20px;
  margin-left: 10px;
}

.tabla3 img {
  height: 100px;
  width: 300px;
}
.tabla4 {
  border: 0px;
  margin-bottom: 2%;
  height: 50px;
}
.tabla4 p {
  font-family: Helvetica;
  font-size: 20px;
  margin-left: 10px;
}

.tabla4 img {
  height: 50px;
  width: 300px;
}
.tabla:hover {
  opacity: 0.5;
}
.tabla p {
  font-family: Helvetica;
  font-size: 20px;
  margin-left: 10px;
}

.tabla img {
  height: 50px;
  width: 150px;
}
.tablamarket img {
  height: 30px;
  width: 150px;
}
.tablamarket:hover {
  opacity: 0.5;
}
.tablamarket p {
  font-family: Helvetica;
  font-size: 20px;
  margin-left: 10px;
}

#barramoto {
  background-color: #3c3c3b;
  height: 60px;
  margin-top: -20px;
}
#barramoto p {
  font-family: Bebas Neue;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
#barramoto2 {
  border: 2px;
  height: 60px;
  border-color: black;
  border-style: solid;
}

#barrabici {
  background-color: #3c3c3b;
  height: 60px;
  margin-top: -20px;
}
#barrabici p {
  font-family: Bebas Neue;
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
#barrabici2 {
  border: 2px;
  height: 60px;
  border-color: black;
  border-style: solid;
}
#barrabici2:hover {
  opacity: 0.5;
}
#barrabici2 p {
  font-family: Helvetica;
  font-size: 20px;
}
#barrabici2 img {
height: 30px;
width: 150px;
padding: 15px;
float: left;
margin-left:  480px;
}


#descompte2 img {
  height: 100px;
  width: 200px;
  float: left;
  margin-left: 420px;
}
#descompte2 p {
  font-family: Helvetica;
  font-size: 30px;
  padding: 35px;
}
#descompte3 img {
  height: 100px;
  width: 300px;
  float: left;
  margin-left: 360px;
}
#descompte3 p {
  font-family: Helvetica;
  font-size: 30px;
  padding: 35px;
}
#descompte4 img {
  height: 50px;
  width: 300px;
  float: left;
  margin-left: 360px;
  margin-right: 20px;
}
#descompte4 p {
  font-family: Helvetica;
  font-size: 30px;
  padding: 10px;
}
#ubitotcar {
margin: 0 auto;
display: block;
}
#ubimotocard {
margin: 0 auto;
display: block;
}
#ubimarket img {
  text-align: center;
}
#codi {
  background-color:  #cb2623;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#codi b {
  color: White;
  font-family: Helvetica;
  float: left;
  padding: 10px;
  margin-left: 25px;
}
#codi p {
  color: white;
  font-family: Helvetica;
  padding: 10px;
  font-size: 20px;
}
#validacio {
  font-family: Helvetica;
}
